/*general styles*/
*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
/*svg*/
svg{
    display: block;
    height: 95%;
    width: 100%;
}
/*svg - circles (states)*/
.circle,circle{
    border-radius: 100%;
    cursor: pointer;
    display: block;
    position: absolute;
    transition:  opacity 0.2s ease-in-out;
}
.circle:hover,circle:hover{
    opacity: 0.8;
}
.terminal{
    stroke:grey;
    stroke-width:3px;
}
.linking{
    stroke:grey;
    stroke-dasharray:5,5;
    stroke-width:3px;
}
/*svg - paths (links)*/
.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
.new_link{
    stroke:orange;
}
/*svg - texts (names,conditions)*/
text{
    fill:#000;
}
text.new_link{
    fill:orange;
}
/*containers*/
#svg_container,#object_container,#object_container_left,#object_textarea{
    display: inline-block;
    height: 100%;
    overflow-y: scroll;
    vertical-align: top;
    width: 49%;
}
#object_container_left{
    transition: background 0.4s ease-in-out;
}
#svg_container{
    border-right : 1px solid #000;
}
/*load_helper*/
.load_helper{
    background: url("res/images/loading.gif") no-repeat scroll center center #FFF;
    /*display: none;*/
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/*menu*/
.menu{
    background:#FFF;
    height:100%;
    left:0;
    padding:300px;
    position:absolute;
    top:0;
    width:100;
}
/*others*/
textarea{
    max-width: 95%;
}
#qunit{
    display: none;
}
