/*general styles*/
*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
h1{
    /*position: absolute;*/
}
/*svg*/
svg{
    display: block;
    height: 95%;
    width: 100%;
}
/*svg - circles (states)*/
.circle,circle{
    border-radius: 100%;
    cursor: pointer;
    display: block;
    position: absolute;
    transition:  opacity 0.2s ease-in-out;
}
.circle:hover,circle:hover{
    opacity: 0.8;
}
.terminal{
    stroke:grey;
    stroke-width:3px;
}
.linking{
    fill: #f5e79e;
    stroke: black;
    stroke-width:3px;
}
/*svg - paths (links)*/
.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
.new_link{
    stroke-dasharray: 7px;
}
/*svg - texts (names,conditions)*/
text{
    fill:#000;
}
text.new_link{
}
text.new_condition{

}
/*containers*/
#svg_container,#object_container_wrapper,#object_textarea{
    display: inline-block;
    vertical-align: top;
}
#object_textarea{
    height: 20%;
    margin: 20px 0 0;
    width: 100%;
    text-align: center;
}
#object_textarea label{
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    margin: 0 0 10px;
}
#object_textarea label:hover + textarea{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
#object_textarea textarea{
    border: 1px solid #ccc;
    height: 77%;
    width: 92%;
}
#svg_container,#object_container_wrapper{
    height: 100%;
    padding: 0 0 20px;
}
#object_container_wrapper{
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
}
#object_container_left{
    border: 1px solid #faebcc;
    color: #8a6d3b;
    height: 100%;
    overflow-y: scroll;
    padding: 5px;
    transition: background 0.4s ease-in-out;
}
#object_container_close{
    border: 1px solid #faebcc;
    font-weight: bold;
    left: auto;
    right: 0;
    position: absolute;
    top: 0;
    transition: background 0.4s ease-in-out,opacity 0.4s ease-in-out;
}
#object_container_wrapper #object_container_close{
    left: -34px;
    right: auto;
}
#object_container_close:hover + #object_container_left {
    background-color: #e6e6e6 !important;
}
.closed{
    transition: opacity 0.4s ease-in-out, width 0s none 0.5s;
    opacity: 0;
    overflow: hidden;
    width: 0 !important;
}
#svg_container{
    width: 100%;
}
/*buttons*/
.buttons{
    text-align: center;
}
/*load_helper*/
.load_helper{
    background: url("res/images/loading.gif") no-repeat scroll center center #FFF;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/*menu*/
.menu{
    background:#FFF;
    height:100%;
    left:0;
    padding:300px;
    position:absolute;
    top:0;
    width:100%;
    z-index:10;
}
#menu li{
    text-align: center;
}
/*others*/
#qunit{
    display: none;
}
/*tooltip*/
.ui-tooltip{
    font-family: Arial, sans-serif;
	font-size: 4px;
	line-height: 26px;
	padding: 28px 10px;
	overflow: hidden;
    font-style: italic;
    font-weight: bold;
    background-color: blueviolet;

}
